---
layout: default
---

{% include navbar.html %}

<div class="container mt-5">

<h1 class="display-4">Kontaktirajte nas</h1>
<br>
<label>Vaša email adresa</label>
<input type="email" class="form-control form-rounded bg-faded" placeholder="Upišite Vašu email adresu">
<br>
<label>Vaš upit</label>
<textarea class="form-control form-rounded bg-faded" rows="8" placeholder="Vaš upit"></textarea>
<br>
<a class="btn btn-primary" href="/kontakt-uspjesno-poslan"><i class="fa fa-sign-in"></i> Pošalji upit</a>

</div>



{% include footer.html %}

