---
layout: default
---

{% include navbar.html %}

<div class="container mt-5">

<h1 class="display-4">Nudim u kompenzaciju</h1>
<p class="lead">U naslovu navedite kratak opis proizvoda ili usluge. Nakon toga upišite detaljan opis.</p>
<br>
<label>Navedite kratak opis ponuđene kompenzacije</label>
<input type="text" class="form-control form-rounded bg-faded" placeholder="Na primjer: ''4 automobilske gume 185/15''">
<br>
<label>Navedite detaljan opis kompenzacije</label>
<textarea class="form-control form-rounded bg-faded" rows="3" placeholder="Gume su nove, bez ostecenja, proizvodjac Sava, MS ili zimske gume"></textarea>
<br>

<a class="btn btn-primary" href="/nudim-kompenzaciju-zahtjev-proslijedjen">Proslijedi</a>
<!--
<button type="button" class="btn btn-primary">Proslijedi</button>
-->

</div>


{% include footer.html %}

