---
layout: default
---

{% include navbar.html %}

<div class="container container-narrow mt-5">

<h1 class="display-4 text-center">Čestitamo</h1>
<br>
<div class="svg text-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="220" height="220" viewBox="-263.5 236.5 26 26">
    <g class="svg-success">
      <circle cx="-250.5" cy="249.5" r="12"/>
      <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
    </g>
  </svg>
</div>
<p class="display-5 text-center pt-5 pb-2">
Vaš zahtjev za dostavljanjem ponuda uspješno je proslijeđen pravnim licima u sistemu BIS.BA!
</p>
<br>
<p class="display-5 text-center pb-5">
Po Vašem izboru, poslali smo i zahtjev za finansiranje ove nabavke kod komercijalnih banaka!
</p>


<a class="lead d-block text-center mt-5" href="{{ site.baseurl }}/loggedin-index">Nazad na početnu stranicu</a>


</div>


{% include footer.html %}

