<div class="container-fluid mt-2">
<!-- 
<div class="container mt-5">
-->
      <nav id="navHeader" class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"><strong>BIS.BA</strong></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
		  
          <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
            <ul class="navbar-nav mt-2 mt-md-0">
              <li class="nav-item mr-2">
                <a class="nav-link" href="{{ site.baseurl }}/trazim-ponudu">Tražim ponudu</a>
              </li>
              <li class="nav-item mr-2">
                <a class="nav-link" href="{{ site.baseurl }}/nudim-kompenzaciju">Nudim kompenzaciju</a>
              </li>
              <li class="nav-item mr-2">
                <a class="nav-link" href="{{ site.baseurl }}/finansiranje">Finansiranje</a>
              </li>
              <li class="nav-item mr-5">
                <a class="nav-link" href="{{ site.baseurl }}/kontakt">Kontakt</a>
              </li>
              <li>
                <a class="btn btn-primary btn-outline text-white" id="navbar-modal-button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user"></i> Login
                </a>
              </li>
            </ul>
          </div>
      </nav>
</div>